html {
    font-family: 'Ubuntu', sans-serif;
    max-height: 50%;

}   

body {
    margin: 0;
    background-color: #222c42;

}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.topnav {
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #d4cfcf;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
    background-color: #457B9D;
    color: black;
  }
  
.topnav a.active {
    background-color: #a8dadcab;
    color: white;
  }

.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.title {
  text-align: center;
  color: #d4cfcf;
}

.fa-discord {
  color: #7289DA;

}

.discord span {
  display: inline-block;
  font-size: 30px;
  color: #d4cfcf;
  padding: 20px;
}

.discord a {
  font-size: 20px;
  text-decoration: underline;
}

/* Time for email contact option */

.fa-envelope {
  color: white;
}
.email span {
  display: inline-block;
  font-size: 30px;
  color: #d4cfcf;
  padding: 20px;
}

.email a {
  font-size: 20px;
  text-decoration: underline;
}

.fa-github{
  color: #F4CBB2;
}


.github span {
  display: inline-block;
  font-size: 30px;
  color: #d4cfcf;
  padding: 20px;
}

.github a {
  font-size: 20px;
  text-decoration: underline;
}
