<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steve</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/projects.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">    
</head>

<body>
    <!--Loads particles.js background.-->
    <div id="particles-js"></div>
    <script src="{{ url_for('static', filename='js/particles.js-master/particles.js') }}"></script>
    <script src="{{ url_for('static', filename='js/particles.js-master/demo/js/app.js') }}"></script>
    
    <div class="topnav">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a class="active" href="{{ url_for('projects') }}">Projects</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </div>

    <!--Projects start-->

    <div class="title">
        <h1>Current Projects</h1>
    </div>

    <div class="projects-page">
        <div class="project-1"><h2>Chatbot with Tensorflow</h2>
            <p1>This machine learning chatbot is made in Python. It'll respond to
                inputs appropriately. This functionality can be embedded to another programs. 
            </p1>
        </div>
        <div class="project-2"><h2>Discord Assistance</h2>
            <p1>Discord assistance can be used to make experience better on Discord. It has many
                utilities including message loggers and sniping. Created in Discord.py. It can be used for any
                type of bots. <a href="https://github.com/Steve-Dusty/Discord-Tools" target="__blank">Here is the Github repository.</a>
            </p1>
        </div>
        <div class="project-3"><h2>DOS tool</h2>
            <p1>Denial-of-service is a type of attack that overloads the target server until it cannot operate
                using many types of attacks. I'll be sending TCP requests. This is wrote in C++. Pretty raw, but program 
                can be embedded anywhere.
            </p1>
        </div>
        
    </div>

</body>